.handling {
}
.handling-text {
	margin-top: 20px;
	position: relative;
	max-width: 600px;
	background: rgb(250, 224, 224);
	box-shadow: 0px 0px 0px 2px red;
	border-radius: 15px;
	padding: 10px 20px;
	color: #444;
	font-weight: 500;
}
.handling-warning {
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 10px;
	left: 10px;
}

.handling-title {
	margin-top: 20px;
	text-align: center;
	color: #444;
	font-family: Montserrat;
	font-size: 32px;
	font-weight: 500;
}

.handling-content {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 20px;
}

.handling-content-item {
	padding: 10px 20px;
	flex: 0 0 48%;
	position: relative;
	background: rgb(201, 247, 205);
	box-shadow: 0px 0px 0px 2px rgb(0, 179, 0);
	border-radius: 15px;

	&_title {
		margin-left: 4px;
		display: inline-block;
		color: #444;
		font-family: Montserrat;
		font-size: 20px;
		font-weight: 500;
	}
	&_text {
		margin: 10px 0px 0px 0px;
		color: #444;
		font-weight: 400;
	}
}
.handling-success {
	width: 18px;
}

@media (max-width: $md) {
	.handling-content-item {
		flex: 0 0 100%;
	}
}
